<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">

    <app-usersidebar></app-usersidebar>

    <div class="layout-page">

      <app-userdashboardnav></app-userdashboardnav>

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">
            <div class="col-lg-8 mb-4 order-0">
              <div class="card">
                <div class="d-flex align-items-end row">
                  <div class="col-sm-7">
                    <h5 class="card-title text-dark" style="font-weight: bolder ;margin-left: 30px; margin-top: 10px; margin-bottom: -20px;">
                      Profile</h5>
                    <div class="card-body">
                      <!-- <h5 class="card-title text-primary">Welcome {{UserName}} 🎉</h5> -->
                      <p class="mb-4">
                        Your profile is your canvas<span class="fw-medium">paint it with the colors of your personality.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Content wrapper -->

    </div>

  </div>
</div>
